body {
  background-color: black;
}

.main {
  background-color: #fff;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.ryu-container, .ryu {
  float: left;
  /*width: 659px;*/
  /*height: 494px;*/
}

.ryu-ready, .ryu-cool, .ryu-still, .ryu-throwing {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
}

.ryu-cool {
  background-image: url('/Users/Admin/Sites/code/bubbles/jquery_streetfighter/images/ryu-cool.gif');
}

.ryu-ready {
  background-image: url('/Users/Admin/Sites/code/bubbles/jquery_streetfighter/images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('/Users/Admin/Sites/code/bubbles/jquery_streetfighter/images/ryu-standing-still.png');
  /*display: none;*/
}

.ryu-throwing {
  background-image: url('/Users/Admin/Sites/code/bubbles/jquery_streetfighter/images/ryu-throwing-hadouken.png');
  /*display: block;*/
}

/*.ryu-jump-kick {
  background-image: url('/Users/user/code/jquery_streetfighter/images/ryu-jump-kick.gif');
}*/

.hadouken, .ryu-cool, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  float: left;
  /*top: 150px;*/
  /*left: 350px;*/
  top: 167px;
  /*left: 520px;*/
  left: -212px;
  /*position: absolute;*/
  position: relative;*/
  z-index: 10;
  /*outline: red 1px solid;*/
}

.intro-text {
  position: absolute;
  left: 650px;
  height: 425px;
  width: 600px;
  padding-top: 75px;

}

.sf-logo {
  background-image: url('/Users/Admin/Sites/code/bubbles/jquery_streetfighter/images/street_fighter_logo.jpg');
  /*margin-top: 5px;*/
	width: 685px;
	height: 314px;
  display: none;
  /*float: right;
  padding-right: 10px;*/
}

.brought-by, .instructions {
  font-family: 'Architects Daughter', cursive;
  font-size: 40px;
  color: blue;
  font-style: bold;
  margin-top: 100px;
  text-align: center;
  display: none;
}

.brought-by {
  text-align: center;
  margin-top: 100px;
}

.jquery-logo {
  background-image: url('/Users/Admin/Sites/code/bubbles/jquery_streetfighter/images/jquery-logo.png');
  width: 500px;
  height: 200px;
  margin-top: 50px;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.instructions {

}

.instructions p {
  width: 50%;
  color: black;
  font-size: 24px;
  line-height: 45px;
}

.instructions p + p {
  margin-left: 275px;
}
